*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    background-color: black;
    justify-content: space-between;
    color: whitesmoke;

}
span{
    padding: 22px;
    font-size: 20px;
    font-weight: bold;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;

}
li{
    padding: 22px;
}
.container{
    position: relative;
    left: 100px;
}
.emailchecker{
    margin: 20px;

}
input{
    border: 2px solid black;
    height: 30px;
    padding: 3px;
    border-radius: 5%;
    font-size: 18px;

}

button{
    margin-top: 22px;
    width :auto;
    height: 40px;
    border-radius: 9px;
    background-color : black;
    color: white;
    font-size: 20px;

}

button:hover{
    background-color: green;
}












